@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  /* --cli-color: hsl(250, 80%, 54%); */
  /* --ui-color: hsl(220, 91%, 54%); */
  --fd-layout-width: 1400px;
}

.cli {
  /* --color-fd-primary: var(--cli-color); */
}

@theme {
  /* --color-primary: var(--color-fd-primary); */
  /* same for other colors */
  /* --color-fd-primary: var(--ui-color); */
}

.m2 {
  animation: gradient-shift 5s ease-in-out infinite; /* Faster animation */
}

.m2::before,
.m2::after {
  --size: 5px; /* Reduced glow size */
  content: "";
  position: absolute;
  border-radius: var(--radius-lg);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: calc(100% + var(--size));
  height: calc(100% + var(--size));
  background: radial-gradient(circle at 100% 0, #7a69f9, transparent),
    radial-gradient(circle at 0 0, #f26378, transparent),
    radial-gradient(circle at 0 100%, #f5833f, transparent);
  /* background: radial-gradient(circle at 0 0, hsl(27deg 93% 60%), transparent), */
  /*   radial-gradient(circle at 100% 0, #00a6ff, transparent), */
  /*   radial-gradient(circle at 0 100%, #ff0056, transparent), */
  /*   radial-gradient(circle at 100% 100%, #6500ff, transparent); */
}

.m2::after {
  --size: 2px; /* Reduced inner glow size */
  z-index: -1;
}

.m2::before {
  --size: 10px; /* Reduced outer glow size */
  z-index: -2;
  filter: blur(2vmin); /* Reduced blur */
  animation: blur-animation 3s ease-in-out alternate infinite; /* Faster blur animation */
}

/* Faster blur animation */
@keyframes blur-animation {
  to {
    filter: blur(3vmin);
    transform: scale(1.05);
  }
}

/* Faster gradient animation */
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.monospace {
  font-family: monospace;
}
